@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cookie&display=swap');

/* Universal Styles */
:root {
    /* Color palette variables here */
    --base-text: #000;
    --orange: #e88d66ff;
    --melon: #eeae9cff;
    --pale-orange: #FBE0CF;
    --pale-yellow: #fffce4ff;
    --light-pink: #edc5d5ff;
    --magenta: #a25877ff;
}

/* Landing page styles */

/* Menu page styles */

.menu{
    position:fixed;
    height:100%;
    width:100%;
    background-color: var(--pale-yellow)
}

.menu-header{
    display:block;
    color: var(--light-pink);
    background-color: var(--magenta);
    font-family: 'Cookie';
    text-align: center;
    width: 25%;
    margin:auto;
}

.menu-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 100%);
    text-align:center;
    column-gap: 10px;
}

.menu-col-1{
    background-color: var(--orange);
    grid-column: 1;
    grid-row: 1 / 4; 
}

.menu-col-2{
    background-color: var(--orange);
    grid-column: 2;
    grid-row: 2 / 5; 
}

.menu-col-3{
    background-color: var(--orange);
    grid-column: 3;
    grid-row: 1 / 4; 
}

.menu-subheader{
    color: var(--pale-orange);
    font-family: 'Cookie';
    padding: 3px;
}

/* Podcast page styles */

/* About Us/FAQ page styles */

/* Footer styles*/
.footer{
    position: fixed; /* Fix footer to bottom of the screen*/
    left:0;
    bottom:0;
    width:100%; /*Set footer width to entire screen*/
    height:12%; /*Set footer height and minimum height */
    min-height:75px;
    background-color: var(--magenta); /*Set background color of footer*/
    color: var(--light-pink); /*Set text color in footer*/
    font-family: 'Comic Neue'; /*Set font of the footer*/
    font-size: 1.6vw;
}

/*Display elements of the footer in a grid with 3 equal columns*/
.footer-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*Center footer image*/
.footer-img{
    display:block;
    margin: auto;
}

/*Set footer image size and pad from top of the footer*/
.footer-img-size{
    height: 3.4em;
    min-height:50px;
    width: auto;
    padding-top: 8%;
}

/*Vertically center left footer text and align left*/
.left-footer-text{
    display:block;
    margin: auto 0;
    text-align: left;
}

/*Vertically center left footer text and align right*/
.right-footer-text{
    display:block;
    margin: auto 0;
    text-align: right;
}