/* Import "Comic Neue" and "Cookie" font families */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cookie&display=swap');

/* Universal Styles */
:root {
    /* Color palette variables here */
    --base-text: 54, 55, 50;
    --orange: rgb(232, 141, 102);
    --melon: rgb(238, 174, 156);
    --light-orange: rgb(255, 215, 191);
    --pale-yellow: 255, 252, 228;
    --light-pink: rgb(237, 197, 213);
    --medium-pink: rgb(200, 143, 166);
    --magenta: rgb(162, 88, 119);
    --stripe-color: rgb(0,0,0);
    --title-size: calc(5vw + 2rem);

    /* Standardized font sizes */
    --lg-heading-size: calc(5vw + .25rem);
    --md-heading-size: calc(2.5vw + .125rem);
    --sm-heading-size: calc(2.5vw + .125rem);
    --normal-text-size: 2vw;
}

.navbar{
    z-index: 100;
}

.navbar-menu{
    /*navbar positioning*/
    position: fixed; /*makes navbar stay at top of page*/
    z-index:1;
    top: 0;
    right: 0;
    margin: 0px;
    max-height: 50px;
    color: rgb(rgb(var(--pale-yellow))); /*font color*/
    background-color: var(--orange); /*background color of navbar*/
    /*dropdown menu toggle adjustments*/
    --bs-navbar-toggler-focus-width: 0;
    display: block;
    --bs-navbar-toggler-padding-x: 0;
    --bs-navbar-toggler-padding-y: 0;
    --bs-border-width: 0;
}

.dropdown{
    --bs-dropdown-bg: var(--orange); /*sets dropdown background color*/
}


.dropdown-menu{
    background-color: var(--orange);
    --bs-dropdown-link-color: rgb(var(--pale-yellow)); /*default font color*/
    --bs-dropdown-link-hover-color: rgb(var(--pale-yellow)); /*font color when hover*/
    --bs-dropdown-link-hover-bg: var(--melon); /*bg color when hover*/
    --bs-dropdown-link-active-color:rgb(var(--pale-yellow)); /*font color when click*/
    --bs-dropdown-link-active-bg: var(--orange); /*background color when click*/
}

.dropdown-img{
    transform: scale(0.025); /*resizes logo*/
    /*sets position of bee logo*/
    position: absolute;
    top:  -1017px;
    right: -1000px;
    transition: all 300ms ease-out 100ms; /*transition for when you hover over logo*/
}

.dropdown-img:hover{
    /*sets changes to logo when hover occurs*/
    top:-1016px;
    transform: scale(0.025) rotate(20deg);
}

.dropdown-btn{
    /*sets bee button position and size*/
    max-height: 50px;
    max-width: 75px;
    position: absolute;
    right: 0px;
    top: -10px;
}

.nav-name{
    font-family: Cookie, sans-serif; /*sets navbar text font*/
    display: inline-block; 
    color: rgb(var(--pale-yellow)); /*font color*/
}

.dropdown-menu{
    /*sets position of dropdown*/
    position: absolute;
    right: -15px;
}

.dropdown-menu[data-bs-popper]{ /*overwriting bootstrap default values*/
    /*sets position of dropdown*/
    left: auto;
    top: 20px;
}


.below-navbar {
    padding-top: 70px;
}

.wave-divider {
    /*Creates wavy border*/
    content: " ";
    position: absolute;
    right: 0;
    left: 0;
    background-color: #0000;
    background-size: contain;
    background-position: 50% 100%;
    opacity: 1;
    z-index: 2;
    height: 32px;
    transform: translate3d(0, 40%, 0);
}

/* Landing page styles */

.container-full{
    overflow-x: hidden;
}


.landing-header { /* Styling for the header of the landing page */
    background-image: url("img/alt-awning.png");
    background-size: contain;
    background-position: bottom-right;
    background-color: var(--light-orange);
    /*padding-top: 40px;  /* Fixes overlap with navbar */
}

.title-text { /* Large text in "Cookie" font family */
    font-family: "Cookie", cursive;
    font-size: var(--title-size);
    color: rgb(var(--base-text));
}

.normal-text { /* Medium text in sans text size */
    font-family: "Comic Neue", sans-serif;
    font-size: var(--normal-text-size);
    color: rgb(var(--base-text));
}

.header-text { /* Medium text in "Cookie" font family */
    font-family: "Cookie", cursive;
    font-size: var(--lg-heading-size);
    color: rgb(var(--base-text));
}

.featured-items { /* Section of featured items with 3 cards */
    background-color: var(--light-orange);
    padding-bottom: 3rem;
}

.center-content { /* Center the content in the feature items section */
    display: flex;
    justify-content: center;
}

.item-card{
    margin-bottom: 10px;
}

.card, .card-img-overlay {
    --bs-border-radius: 20px;
    transition: all 300ms 50ms;
}

.card:hover { /* Hover animation for cards */
    filter: drop-shadow(0px 0px 4px var(--magenta));
}

.card-img-overlay, .card:hover .card-img-overlay { /* Make name of item show up when image is hovered over */
    opacity: 1;
}

.card-img { /* Sets height of image in cards */
    height: 18rem;
}

.card-img-overlay { /* Style card image overlay with gradient and border-radius */
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(var(--pale-yellow), .75) 20%, rgb(var(--pale-yellow), .8));
    height: 6rem;
    top: auto;
    border-radius: 0px 0px var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
    opacity: 0;
}

.card-title { /* Sets font style for color of cards */
    font-family: "Cookie", cursive;
    font-size: var(--md-heading-size);
    color: var(--base-text);
}

.landing-wave { /* Adds wave border between featured items and podcast section of page */
    background-image: url("img/light-orange-wave.svg");
    margin-top: -1.1%;
    border-bottom: 1px solid rgb(var(--pale-yellow));
    border-top: 1px solid var(--light-orange);
}

.landing-wave-2 { /* Adds wave border between podcast and reviews section */
    background-image: url("img/pale-yellow-wave.svg");
    margin-top: -1.1%;
    border-bottom: 1px solid var(--light-pink);
    border-top: 1px solid rgb(var(--pale-yellow));
}

@media screen and (max-width: 1150px) { /* Fixes wave borders for med-lg width screens */
    .landing-wave, .landing-wave-2 {
        margin-top: -1.6%;
    }
}

@media screen and (max-width: 870px) { /* Fixes wave borders for medium width screens */
    .landing-wave, .landing-wave-2 {
        margin-top: -2.1%;
    }
}

@media screen and (max-width: 700px) { /* Fixes wave borders for narrow screens */
    .landing-wave, .landing-wave-2  {
        margin-top: -2.9%;
    }
}

@media screen and (max-width: 1000px) { /*Centers featured item cards for narrower screens*/
    .item-card{
        margin: auto auto 10px;
    }
}

.menu-btn { /* Styling for button that links to menu page */
    --bs-btn-bg: var(--medium-pink); /* Override bootstrap default button bg */
    --bs-btn-hover-bg: var(--magenta); /* Sets button hover bg color */
    --bs-btn-color: rgb(var(--pale-yellow));
    --bs-btn-hover-color: rgb(var(--pale-yellow));
    font-family: "Comic Neue", cursive;
    font-size: calc(var(--md-heading-size) * .75);
}

.podcast-cover { /* Style podcast cover on landing page */
    width: 100%;
    height:auto;
    background-color: var(--light-pink);
    border: 2px dotted var(--magenta);
    justify-content: center;
}

.recent-podcasts { /* Styling for recent podcast section */
    background-color: rgb(var(--pale-yellow));
    width: 100%;
    overflow-x: hidden;
}

#pod-spacer { /* Puts 2rem of space between podcast audio and button w/ link */
    width: 2rem;
}

.row {
    --bs-gutter-x: 5rem; /* Overrides bootstrap to put more space between cards */
}

.reviews { /* review section on landing page */
    background-color: var(--light-pink);
}

.review-card { /* Styling for reviews on landing page */
    background-color: #0000; /* Makes background transparent */
    border: 1px dashed rgba(162, 88, 119, 0%); /* Sets up invisible border for hover transition */
    transition: border 300ms 50ms;
}

.review-card:hover { /* Review card hover transition */
    border: 1px dashed rgba(162, 88, 119, 100%);
    filter: none; /* Overrides general card  */
}

.review { /* text of each review */
    font-size: calc(var(--normal-text-size) / 1.25);
    padding: .5rem;
}

/* Menu page styles */

/*General styles for menu page*/
.menu{
    position:fixed; /*Set position to fixed*/
    height:94%; /*Set height to 94%*/
    top:6%; /*Offset 6% from the top so there is no overlap with navbar*/
    width:100%; /*Make menu take up the full screen*/
    background-color: var(--light-orange); /*Set background color to light orange*/
    overflow-y: scroll; /*Make y overflow scroll*/
    overflow-x:hidden; /*Hide x overflow*/
}

/*Menu page header styles*/
.menu-header{
    display:block; /*Set display type to block*/
    color: var(--light-pink); /*Set text color to light pink*/
    background-color: var(--magenta); /*Set text box color to magenta*/
    font-family: 'Cookie'; /*Set font to Cookie*/
    text-align: center; /*Align text to the cetner*/
    width: 25%; /*Set width to 25%*/
    margin:auto; /*Center textbox*/
    font-size: var(--lg-heading-size); /*Set font size to lg heading size*/
    border-radius:30px; /*Round text box edges*/
    border: solid 1.5px rgb(var(--base-text)); /*Add black border to text box*/
}

/*Flexbox section of menu to hold accordions*/
.menu-flex{
    display:inline-flex; /*Set display type to inline-flex*/
    flex-flow: row wrap; /*Set flow to row wrap*/
    text-align:center; /*Align text center*/
    align-items:center; /*Align items center on the cross axis*/
    justify-content:center; /*Align items center on the main axis*/
    gap:15px; /*Set gap between items of 15px*/
    align-self:stretch; /*Stretch to align items on the cross axis*/
    width:100%; /*Set width to 100%*/
}

/*Base styles for sections of menu items*/
.menu-item{
    background-color: var(--light-pink); /*Set background color to light pink*/
    flex-basis: 30%; /*Set main size of the item to 30%*/
    border-radius: 30px; /*Round edges*/
    border: solid 1.5px rgb(var(--base-text)); /*Create black border*/
}

/*Menu subheaders*/
.menu-subheader{
    color: rgb(var(--base-text)); /*Set text color to base text*/
    font-family: 'Cookie'; /*Set font family to Cookie*/
    padding: 3px; /*Set padding to 3px*/
    size: var(--md-heading-size); /*Set text size to md heading size*/
}

/*Menu image styles*/
.menu-img{
    width:90%; /*Set width to 90%*/
    min-width: 250px; /*Set minimum width to 200px*/
    height:auto; /*Set height to auto*/
    border-radius: 30px; /*Round edges*/
    border: solid 1.5px rgb(var(--base-text));  /*Add black border*/
    margin: 3px 10px;
}

/*Accordion Styles*/
.accordion{
    --bs-accordion-active-color: var(--light-pink); /*Set accordion text color when active to light pink*/
    --bs-accordion-active-bg: var(--magenta); /*Set accordion background color when active to magenta*/
    --bs-accordion-color: var(--magenta); /*Set default accordion text color to magenta*/
    --bs-accordion-bg: var(--light-pink); /*Set default accordion background color to light pink*/
    --bs-accordion-btn-bg: var(--light-pink); /*Set accordion button background color to light pink*/
    --bs-accordion-btn-color: rgb(var(--base-text)); /*Set accordion button text color to base text*/
    font-family: 'Comic Neue'; /*Set font to Comic Neue*/
    --bs-accordion-border-radius: 0px; /*Set border radius to 0px*/
    --bs-accordion-inner-border-radius:0px; /*Set inner border radius to 0px*/
    --bs-accordion-border-width:0px; /*Get ride of accordion border*/
}

.menu-item:nth-of-type(4), .menu-item:nth-of-type(5) {
    /*Adjusts margin when accordions are closed*/
    margin-bottom: 30px;
}

.menu-item:nth-of-type(4):has(.accordion-button:not(.collapsed)), .menu-item:nth-of-type(5):has(.accordion-button:not(.collapsed)) {
    /*Adjusts margin while accordions are open*/
    margin-bottom: 20px;
}

/*Base info for Melon colored stripe*/
.melon-stripe{
    --stripe-color: var(--melon); /*Set stripe color to melon*/
    left:1%; /*Offset 1% from left*/
}

/*Base info for orange colored stripe*/
.orange-stripe{
    --stripe-color: var(--orange); /*Set stripe color to orange*/
    top:22%; /*Offset 22% from top*/
    left:-5%; /*Offset -5% from left*/
    z-index:1; /*Set z index to 1*/
}

/*Base info for magenta colored stripe*/
.magenta-stripe{
    --stripe-color: var(--magenta); /*Set stripe color to magenta*/
    top:44%; /*Offset 44% from top*/
    left:-10%; /*Offset -10% from left*/
    z-index:2; /*Set z index to 2*/
}

/*Base info for light pink colored stripe*/
.light-pink-stripe{
    --stripe-color: var(--light-pink); /*Set stripe color to light pink*/
    top:66%; /*Offset 66% from top*/
    left:-14%; /*Offset -15% from left*/
    z-index:3; /*Set z index to 3*/
}

/*Base info for pale yellow colored stripe*/
.pale-yellow-stripe{
    --stripe-color: rgb(var(--pale-yellow)); /*Set stripe color to pale yellow*/
    top:88%; /*Offset 88% from top*/
    left:-20%; /*Offset -20% from left*/
    z-index:4; /*Set z index to 4*/
}

/*Base info for light orange colored stripe*/
.light-orange-stripe{
    --stripe-color: var(--light-orange); /*Set stripe color to light orange*/
    top:110%; /*Offset 110% from top*/
    left:-25%; /*Offset -25% from left*/
    z-index:5; /*Set z index to 5*/
}

/*Top circles segment of squiggly stripes*/
.circles{
    height: 15vw; /*Set circle's height to 200px*/
    width: 15vw; /*Set circle's width to 200px*/
    background-color: var(--stripe-color); /*Set initial circle color to stripe color variable*/
    border-radius: 50%; /*Round edges to be circlular*/
    display: inline-block; /*Set display to inline block*/
    position:absolute; /*Set position to absolute*/
    z-index:-5; /*Set z index to -5*/
    margin-top:5vw; /*Place circles 100px from the top*/
    margin-left:-2vw; /*Place circles -20px from the left of the screen*/
}

/*Cutout circle section of squiggly stripes*/
.circle-bottom{
    width: 50%; /*Set width to 220px*/
    height: 100%; /*Set height to 200px*/
    margin-left:10%; /*Set left margin to 150px*/
    position: relative; /*Set position to relative*/
    overflow: hidden; /*Hide overflow to circle cutouts*/
}

/*Rectangular bottom of cutout section of squiggly stripes*/
.circle-bottom::before{
    content: ''; /*Set content to ''*/
    position: absolute; /*Set position to absolute*/
    bottom: 80%;
    width: 100%; 
    height: 100%;
    border-radius: 100%; /*Round circular segment*/
    box-shadow: 0px 250px 0px 250px var(--stripe-color); /*Create bottom cuout as a box shadow*/
    z-index:-5; /*Set z index to -5*/
  }

/*Rectangles that fill space below squiggly stripe*/
.rectangle{
    height:200px; /*Set height to 200px*/
    width:110%; /*Set width to 110%*/
    margin-left:-3%; /*Set left margin to -3%*/
    position:absolute; /*Set position to absolute*/
}

/*Align circle-bottom with circles to create squiggly line*/
.move-over{
    left: 160%; /*Set rectangle 160% from the left*/
    bottom: 115%; /*Set rectangle 115% from the bottom*/
}

/*Align circle-bottom with circles to create squiggly line*/
.move-over-two{
    left: 320%; /*Set rectangle 320% from the left*/
    bottom: 230%; /*Set rectangle 230% from the bottom*/
}

/*Align circle-bottom with circles to create squiggly line*/
.move-over-three{
    left: 480%; /*Set rectangle 960px from the left*/
    bottom:345%; /*Set rectangle 690px from the bottom*/
}

/*Align circle-bottom with circles to create squiggly line*/
.move-over-four{
    left: 640%; /*Set rectangle 1280px from the left*/
    bottom:460%; /*Set rectangle 920px from the bottom*/
}

/* Podcast page styles */
.episodes {
    background-color: rgb(var(--pale-yellow));
}

.episode-table { /* Styling for table of episodes */
    --bs-table-bg: rgba(var(--pale-yellow), 80%);
    --bs-table-border-color: var(--light-pink);
    font-family: "Comic Neue", cursive;
}

.ep-description { /* Adds borders on the inside of the table */
    border-right: var(--bs-border-width) solid var(--bs-table-border-color);
    border-left: var(--bs-border-width) solid var(--bs-table-border-color);
}

#ep-table-container { /* adds border around but slightly distanced from episode table */
    border: var(--bs-border-width) solid var(--light-pink);
    border-radius: 10px;
}

.podcast-th { /* Podcast table header font sizing */
    font-size: calc(var(--sm-heading-size) / 1.25);
    background-color: var(--light-pink);
}

.table-group-divider { /* Line between header and episodes */
    border-top-color: var(--medium-pink);
}

.episode-title { /* Adds styling to episode titles */
    font-size: var(--sm-heading-size);
    font-family: "Comic Neue", cursive;
    font-weight: bold;
    margin-bottom: 0;
}

.episodes h2 {
    padding-top: 1rem;
}

@media screen and (max-width: 950px) {
    .episodes h2 {
        padding-top: 1.5rem;
    }
}

.podcast-header {
    background-color: var(--light-orange);
}

.podcast-header-border { /* adds wave border below podcast header */
    background-image: url("img/light-orange-wave.svg");
    border-bottom: 1px solid rgb(var(--pale-yellow));
}

/* About Us/FAQ page styles */
.top-banner{  /*styles about us header*/
    width: 100%;
    height: 250px;
    text-align: center;
    position: static;
    z-index: 5; /*sets about header in front of triangle button*/
    background-image: url(img/lindsor-cookie.jpg);
    background-size: cover;
    background-position: center;
    /*creates a magenta low opacity box shadow over the background image*/
    box-shadow: inset 0 0 0 1000px rgba(162, 88, 119, 0.7);
}

.top-text{ /*styles text in about us header*/
    font-family: 'Cookie', sans-serif;
    font-size:var(--title-size);
    display:inline-block;
    padding-top: 80px;
    color: rgb(var(--pale-yellow));
    position:static;
    z-index: 6; /*sets text above header*/
}

.arrow-down { /*stles about us triangle arrow*/
    /*creates a 0 width 0 length box with borders*/
    width: 0; 
    height: 0; 
    /*makes borders transparent*/
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    margin: 0 0 0 0;
    /*top border is magenta; border appears as a triangle*/
    border-top: 20px solid rgba(162, 88, 119, 0.8);
    position: relative;
    top: 250px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

/*sets background color of about page*/
.about-body{
    background-color: rgb(var(--pale-yellow));
    height: 100%;
}

.about-blurb{ /*Styles collapsible blurb underneath About Us Header*/
    font-family: 'Comic Neue', sans-serif;
    font-size: var(--normal-text-size);
    background-color: var(--light-pink);
    color: var(--magenta);
    --bs-card-border-color: rgba(0,0,0,0);
    line-height: 1.5;
    padding-top: 25px;
}

/*adjusting introduction card margins*/
.about-cards{
    margin: auto;
}

.card-text{
    font-family: 'Comic Neue', sans-serif;
    font-size: 20px;
}

/*adjusting introduction card margins*/
.maya-intro, .vee-intro, .maria-intro{
    margin: 30px;
}

.card-img-top{
    margin-top: 15px;
    border-radius: 15px;
}

/*Centers cards when screen is resized*/
@media only screen and (min-width:320px) and (max-width: 1000px), (orientation: portrait){
    .about-cards{
        display: block;
        margin: auto auto 10px;
    }
    .card{
        margin: 15px auto;
    }
    .about-title{
        font-size: 30px;
    }
}

.faq-section{ /*styles faq block*/
    background-color: var(--light-orange);
    border-radius: 10px; /*rounds corners*/
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.faq-title{ /*styles the faq heading*/
    color: var(--orange);
    font-family: Cookie, sans-serif;
    font-size: var(--lg-heading-size);
    text-shadow: var(--melon) 2px 2px; /*adds a shadow to the text*/
}

.accordion-faq{ /*customizes faq accordion*/
    --bs-accordion-bg: var(--light-orange); /*content bg color*/
    --bs-accordion-btn-bg: var(--light-orange); /*bg of btn*/
    --bs-accordion-active-bg: var(--orange); /*bg of btn when accordion expanded*/
    --bs-accordion-active-color: var(--light-orange); /*font color of btn when accordion expanded*/
    --bs-accordion-btn-focus-box-shadow: none; /*removes blue box shadow*/
    --bs-accordion-color: var(--orange); /*font color of content*/
    --bs-accordion-btn-color: var(--orange); /*font color of btn*/
}

/*customizes accordion button arrow icon before click*/
.accordion-faq .accordion-button::after{
   background-image: url(img/orange-arrow.png);
}

/*customizes accordion button arrow icon after clicked*/
.accordion-faq .accordion-button:not(.collapsed)::after{
    background-image: url(img/light-orange-arrow.png);
}

/* Footer styles*/
.footer{
    position: relative; /*Set footer position to relative */
    margin:0; /*Set margins to 0*/
    margin-left: -2%; /*Set margin left to -2%*/
    margin-bottom: -2%; /*SEt margin bottom to -2%*/
    bottom:0; /*Set to bottom of screen*/
    left:0; /*Set to left of screen*/
    padding: 0.5% 2%; /*Set vertical padding to 0.5% and horizontal padding to 2%*/
    width: 103%; /*Set footer width to entire screen*/
    height:14%; /*Set footer height and minimum height */
    min-height:75px; /*Set minimum height to 75px*/
    background-color: var(--magenta); /*Set background color of footer*/
    color: var(--light-pink); /*Set text color in footer*/
    font-family: 'Comic Neue'; /*Set font of the footer*/
    font-size: 1.6vw; /*Set font size to 1.6 vw*/
    overflow-x: hidden; /*Hide x overflow*/
}

.footer.footer-fix { /* Properly formats footer on all pages except menu */
    width: 102%;
}

/*Display elements of the footer in a grid with 3 equal columns*/
.footer-grid{
    display:grid; /*Set display to grid*/
    grid-template-columns: 1fr 1fr 1fr; /*Create three equally sized columns*/
}

/*Center footer image*/
.footer-img{
    display:block; /*Set image display to grid*/
    margin: auto; /*Center image*/
}

/*Set footer image size, pad from top of the footer, add logo animation*/
.footer-img-size{
    height: 3em; /*Set height to 3em*/
    min-height:50px; /*Set minimum height to 50px*/
    width: auto; /*Set width to auto*/
    animation: fly-bee-fly 1.5s ease-in-out infinite; /*Make bee ease in and out of positions 2px above and below its default*/
}

/*Keyframes for logo animation*/
@keyframes fly-bee-fly{
    /*Start animation at 2px above default position*/  
      0%, 100%{
        transform: translateY(2px);
      }
      /*Logo travels to 2px below default position at 50% of the animation time*/
      50%{
        transform: translateY(-2px);
    }

}

/*Vertically center left footer text and align left*/
.left-footer-text{
    display:block; /*Set display to block*/
    margin: auto 0; /*Center vertically and set horizontal margins to 0*/
    text-align: left; /*Align text left*/
}

/*Vertically center right footer text and align right*/
.right-footer-text{
    display:block; /*Set display to block*/
    margin: auto 0; /*Center vertically and set horizontal margins to 0*/
    text-align: right; /*Align text right*/
}

