/* Registration page styles */
.signin-form {
    margin: auto;
    background-color: var(--light-pink);
}

.register-body {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgb(var(--pale-yellow)) 0%,
      rgb(var(--pale-yellow)) 25%,
      var(--light-orange) 25%,
      var(--light-orange) 75%,
      rgb(var(--pale-yellow)) 75%,
      rgb(var(--pale-yellow)) 100%
    );
    background-size: 160px 100%;
    background-repeat: repeat;
}

.btn-register {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--medium-pink);
    --bs-btn-border-color: var(--magenta);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--magenta);
    --bs-btn-hover-border-color: var(--magenta);
    width: 100%;
}

.user-input {
    font-size: 1.5vw;
}